<div class="ui segment attached top" id="upload">

  <header>
    <h1 class="ui header blue" id="upload-header">
      <div class="content">
        <i class="ui icon checkmark blue"></i>
        Website Successfully Updated!
      </div>
    </h1>
  </header>

  <div class='ui message blue'>
    The website text has been updated.
    <a href="<%= process.env.FRONTEND_URL %>" style='text-decoration: underline;'>
      <strong>Click here to see the updated site.</strong>
    </a>
  </div>


</div>