<div class='container centered-page' id="settings">
  <div class="ui segment raised">
    <form class="ui form" action="/change-password" method="POST">
    <h2 class="ui header teal">
      Change your password
      <div class="sub header">
        You are logged in as <%= props.email %> 
      </div>
    </h2>
      <div class="field">
        <label for="newPassword">
          New password:</label>
        <input
          type="text"
          name="password"
          placeholder="New password"
          required
        />
      </div>
      <div class="field">
        <label for="confirmPassword">
          Confirm new password:</label>
        <input
          type="text"
          name="confirmPassword"
          placeholder="Confirm new password"
          required
        />
      </div>
      <input type="hidden" name="loggedIn" value="true">
      <button class="ui button fluid teal" style="margin-top: 2em;">Submit</button>
    </form>
  </div>
</div>