<div class='container centered-page' id="error">

  <header>
    <h1 class="ui header violet centered-header">
      <div class="content">
        <i class="ui icon exclamation circle"></i>
        Error
      </div>
    </h1>
  </header>
  
  <div class="link-group">
    <i class="arrow left ui icon"></i>
    <a href="/home">Home</a>
  </div>

</div>