<div class='container centered-page' id="guide">

  <header>
    <h1
      class="ui header violet centered-header" style="margin: .5em; margin-bottom: 1em">
      <div class="content">
        <i class="icon book violet"></i>
        Admin Panel User Guide
        <div class="sub header">
          Learn how to use Airtable and update Map listings
        </div>
      </div>
    </h1>
  </header>

  <div class='ui segment fluid'>
    <h2 class='ui header secondary centered-header' style='margin-top: 0; font-size: 1.5rem'>How to Update Listings</h2>
    <div class='ui list bulleted'>
      <div class='item'>The Admin Panel lets you update the Oregon Youth Resource Map with new listings
      </div>
      <div class='item'>To get started, click on "Listings" in the top menu bar, and follow the instructions.</div>
      <div class='item'>There are three steps to updating the site:
      <div class='item'>
        <div class='list'>
          <a class='item' href='/listings/upload' target='_blank'>Uploading a CSV with new listings</a>
          <div class='item'>Previewing the site with the new data</div>
          <div class='item'>Updating the site</div>
        </div>
      </div>
      </div>
      <div class='item' style='text-decoration: underline;'>There will be instructions to walk you through it every step of the way.</div>
      <div class='item' style='text-decoration: underline;'>If you still have questions not answered here, contact your project lead for more support</div>
    </div>
  </div>

  <div class='ui segment fluid' style='margin-bottom: 2rem'>
    <h2 class='ui header secondary centered-header' style='margin-top: 0; font-size: 1.5rem'>How to Use Airtable</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/LFXzdemQo_Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p></p>
    <a class='ui button fluid violet basic' href='https://www.youtube.com/watch?v=LFXzdemQo_Q&list=PLqWbR8TkZxx-SEMp3aH1-oho3GOMc1Xpt&index=1' target='_blank'>View the complete OYRM Airtable tutorial series on YouTube</a>


</div>