<div class='container centered-page'>
  <div class="ui segment raised" id="password-reset">
    <h1 class="ui header blue centered">  
      Healthy Transitions: Password Reset
      <div class="sub header">
        Enter your email to recieve a message with reset instructions
      </div>
    </h1>
  
    <form class="ui form add-user" action="/auth/login/reset" method="POST">
      <div class="email">
        <div class="ui field">
          <input
            type="email"
            name="email"
            aria-label="email"
            placeholder="Email"
            required
          />
        </div>
      </div>
      <button class="ui button fluid blue" style="margin-top: 2em;">Send Password Reset Email</button>
    </form>
    <div class="ui divider"></div>
    <a href="/auth/login"><i class="ui icon arrow left"></i>Back to login</a>
  </div>

</div>