<div class="ui segment attached top" id="upload">

  <header>
    <h1 class="ui header dark-teal-text" id="upload-header">
      <div class="content">
        <i class="ui icon checkmark teal-text"></i>
        Website Successfully Updated!
      </div>
    </h1>
  </header>

  <div class='ui message dark-teal-background' style='color: white'>
    The Oregon Youth Resource Map has been successfully updated. 
    <a href="<%= process.env.FRONTEND_URL %>" style='color: white; text-decoration: underline;'>
      <strong>Click here to see the updated site.</strong>
    </a>
  </div>


</div>