<div class='ui segment bottom attached' style="padding: 3em 7em" id="upload">

  <header style='text-align: center;'>
    <h1
      class="ui header violet listings-header" style="margin: .5em; margin-bottom: 1em; font-size: 1.75em">
      <div class="content violet">
        <i class="icon sync violet"></i>
        Update Live Website
      </div>
    </h1>
  </header>

  <div class='ui message grey'>
    <ul class='ui bulleted list' style='color: black'>
      <p><strong>
        Pressing the button on this page will <strong>replace the current website "More Resources" page</strong> with the content you have uploaded. 
      </strong></p>
      <p>This action cannot be undone.</p>
    </ul>
  </div>

  <form action="/resource/update" method="POST">
    <button class='ui button large violet' value='submit'>
      I understand. Update the Live Website.
    </button>
  </form>

</div>